<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<dom-module id="favorites-display">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .title {
                font-size: 18px;
                width: 400px;
            }

            .description {
                font-size: 12px;
            }

            .stats {
                display: inline;
                margin: 10px;
            }

            .favorites {
                max-height: 350px;
                overflow-x: auto;
            }
        </style>
        <div class="favorites">
            <!-- Displays the title and description fo each video in the array. Also sets the button id to be the video id. The favorites videos in local storage are named by the id of the video object. The id in the button allows you to find the video when you want to delete it from local storage. -->
            <template is='dom-if' if="[[display]]">
                <template is="dom-repeat" items="[[favoriteVideos]]">
                    <div id="[[item.id]]">
                        <a class="title" on-click="selectFavorite">[[item.title]]</a>
                        <p class="description">[[item.description]]</p>
                        <button id="[[item.id]]" on-click="removeFavorite">Remove</button>
                    </div>
                </template>
            </template>
        </div>

    </template>
    <script>
        class FavoritesDisplay extends Polymer.Element {
            static get is() {
                return "favorites-display";
            }
            static get properties() {
                return {
                    favoriteVideos: {
                        type: Array,
                        value: [],
                        observer: 'setDisplay'

                    },
                    display: {
                        type: Boolean,
                        value: true
                    }
                }
            }
            setDisplay(){
                console.log(this.favoriteVideos);
            }

            removeFavorite() {

                /*Sends the id of the video that was removed 
                from favorites and sends it to the event listener 
                in my-view3 which then removes the video from local 
                storage.*/
                this.dispatchEvent(new CustomEvent('removeFavorite', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        videoId: event.target.id
                    }
                }));

                // Removes the displayed content from the shadowDom
                let div = event.target.parentNode;
                event.target.parentNode.parentNode.removeChild(div);
            }

            selectFavorite() {
                let id = event.target.parentNode.id;
                for (let i = 0; i < this.favoriteVideos.length; i++) {
                    const element = this.favoriteVideos[i];
                    if (element.id === id) {
                        this.dispatchEvent(new CustomEvent('clickFavorite', {
                            bubbles: true,
                            composed: true,
                            detail: {
                                video: element
                            }
                        }))

                        this.set("clickedSearchResult", this.favoriteVideos[i]);
                    }

                }
            }

        }


        window.customElements.define(FavoritesDisplay.is, FavoritesDisplay);
    </script>
</dom-module>