<!--This sorts and manages your favorite videos-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="favorites-display.html">



<dom-module id="favorites-manager">
    <template>

        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>
        <favorites-display favorite-videos="[[favorites]]"></favorites-display>


    </template>
    <script>
        class FavoritesManager extends Polymer.Element {
            static get is() {
                return "favorites-manager";
            }
            static get properties() {
                return {
                    favorites: {
                        type: Array,
                        value: []
                    },
                    newFavorite: {
                        type: Object,
                        value: {},
                        observer: 'addFavorite'
                    }

                }
            }
            ready() {
                super.ready();
                this.loadFromLocalStorage();
            }
            connectedCallback() {
              
            }

            // Adds favorited video to favorites
            addFavorite() {
                if(!Array.isArray(this.favorites)){
                    console.log("isnot array");
                    
                    this.favorites = [];
                }
            
                this.favorites.push(this.newFavorite);

                // updates Local Storage
                this.updateLocalStorage();
            }    

            

            // deletes a video from favorites list
            deleteFavorite(videoId) {
                // Finds index of the item by the id
                let i = this.favorites.findIndex(item => item.id == videoId);

                // deletes by index
                this.favorites.splice(i, 1);

                // updates local storage
                this.updateLocalStorage();
            }

            loadFromLocalStorage() {
                let savedFaves = localStorage.getItem('favorites');
                if(!savedFaves){
                    localStorage.setItem('favorites', []);
                    this.favorites = [];
                } else {
                    this.favorites = savedFaves;
                }

            }
            updateLocalStorage() {
              
                localStorage.setItem('favorites',JSON.stringify(this.favorites));
                this.favorites = JSON.parse(localStorage.getItem('favorites'));




            }
        }


        window.customElements.define(FavoritesManager.is, FavoritesManager);
    </script>
</dom-module>