<!--For managing comment information-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="comments-display.html">


<dom-module id="comments-manager">
    <template>

        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <!-- Makes ajax request to get comments -->
        <iron-ajax id="ajax" url="[[ajaxUrl]]" handle-as="json" on-response="_handleCommentsResponse" debounce-duration="300"></iron-ajax>

        <comments-display comments-array="[[commentsArray]]"></comments-display>


    </template>
    <script>
        class CommentsManager extends Polymer.Element {
            static get is() {
                return "comments-manager";
            }
            static get properties() {
                return {
                    ajaxUrl: {
                        type: String,
                        value: ""
                    },
                    commentsArray: {
                        type: Array,
                        value: []
                    },
                    videoId: {
                        type: String,
                        value: "",
                        observer: "checkChange"
                    }

                }
            }
            ready() {
                super.ready();

            }
            checkChange(){
                this.requestComments();
            }
            _handleCommentsResponse(event) {
                // When favorites are clicked, the proper id is coming through but the response from the ajax request is empty.
                let commentsArray = event.detail.response.items;
                if (!commentsArray) {
                    this.set("commentsArray", []);
                }
                let comments = [];
                for (let i = 0; i < commentsArray.length; i++) {
                    let el = commentsArray[i].snippet.topLevelComment.snippet;
                    let commentText = el.textDisplay;
                    let commentAuthorName = el.authorDisplayName;
                    let commentAuthorPic = el.authorProfileImageUrl;
                    let commentLikes = el.likeCount;
                    let comment = {
                        text: commentText,
                        authorName: commentAuthorName,
                        likes: commentLikes
                    }
                    comments.push(comment);

                    this.set("commentsArray", comments);
                }
            }

            // TODO: This ajax request could be built out into a shared function that gets called from the service
            requestComments() {

                if (this.videoId) {
                    // this.videoCommentsAjaxUrl = 'https://developers.google.com/apis-explorer/#p/youtube/v3/youtube.commentThreads.list?part=snippet,replies&allThreadsRelatedToChannelId="'+id+'"';
                    this.ajaxUrl =
                        "https://www.googleapis.com/youtube/v3/commentThreads?part=snippet%2Creplies&videoId=" +
                        this.videoId +
                        "&key=AIzaSyAXm-c_JMbAF9SV52gFpTIWCqUG825BTno";
                    this.$.ajax.generateRequest();
                }
            }
        }


        window.customElements.define(CommentsManager.is, CommentsManager);
    </script>
</dom-module>