<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="comment-manager.html">


<dom-module id="comments-display">
  <template>
    <style include="shared-styles">
       :host {
        display: block;

        padding: 10px;
      }
      .comments {
                width: 100%;
                background-color: white;
                color: black;
            }
            .title{
                font-size: 18px;
                padding-left: 10px;
                margin-bottom: -10px;
                margin-top: -5px;
                text-decoration: underline;
            }
            .description{
                font-size: 12px;
                margin-left: 30px;
            }
            .likes {
              font-size: 8px;
              margin-left: 30px;
              padding-bottom: -10px
            }
            .line{
              width: 90%;
            }
    </style>

    <template is="dom-if" if="[[commentsArray]]">
      <p>Peanut Gallery:</p>
      <div class="comments">
        <template is="dom-repeat" items="[[commentsArray]]">
          <div id="comment">
            <p class="title">[[item.authorName]]</p>
            <p class="description">[[item.text]]</p>
            <p class="likes">Likes: [[item.likes]]</p>
          </div>
          <hr class="line">
        </template>
        </div>
    </template>

   

  </template>
  <script>
    class CommentsDisplay extends Polymer.Element {
      static get is() {
        return "comments-display";
      }
      static get properties() {
        return {
          
          commentsArray: {
            type: Array,
            value: null,
          }

        }
      }
      
     
      
      

      

    }
    window.customElements.define(CommentsDisplay.is, CommentsDisplay);
  </script>
</dom-module>