<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->


<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel='import' href='../bower_components/polymer/polymer.html'>

<!-- My components -->
<link rel="import" href="video-display.html">
<link rel="import" href="video-search.html">
<link rel="import" href="comments/comments-display.html">
<link rel="import" href="comments/comments-manager.html">
<link rel="import" href="favorites/favorites-manager.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      body {
        background-color: #e6ecf0
      }

      /* Beginning of CSS Grid */

      .a {
        min-width: 580px;
        width: 65%;
      }

      .b {
        margin-left: 20px;
        width: 30%;
      }

      .c {
        margin-top: 10px;
        width: 100%;
      }

      .d {
        width: 748px;
      }

      .wrapperA {
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 5px;
      }

      .wrapperB {
        display: grid;
        display: flex;
        grid-template-columns: 100%;
        grid-gap: 20px;
        background-color: #fff;
        color: #e6ecf0;
        margin: auto;
      }

      @media screen and (max-width: 830px) {
        .wrapperA {
          display: grid;
          grid-template-columns: 100%;
          gap: 5px;
        }
      }

      @media screen and (min-width: 900px) {
        .wrapperA {
          display: grid;
          grid-template-columns: 65% 35%;
          gap: 5px;
        }
      }

      @media screen and (min-width: 980px) {
        .wrapperA {
          display: grid;
          grid-template-columns: 60% 40%;
          gap: 5px;
        }
      }

      @media screen and (min-width: 1190px) {
        .wrapperA {
          display: grid;
          grid-template-columns: 50% 50%;
          gap: 5px;
        }
      }

      .box {
        background-color: #e6ecf0;
        color: #fff;
        padding: 20px;
        font-size: 150%;
      }

      /* End of CSS Grid */

      .title {
        font-size: 18px;
        width: 400px;
      }

      .description {
        font-size: 12px;
      }

      .stats {
        display: inline;
        margin: 10px;
      }

      .channel {
        display: inline;
      }

      .favorites {
        height: 100%;
        background-color: #e6ecf0;
        overflow-x: auto;

      }

      .faveDisplay {
        background-color: white;
        margin: 10px;

      }

      .videoDisplay {
        height: 100%;
        background-color: #e6ecf0;
        overflow-x: auto;

      }

      p {
        color: black;
      }
    </style>

    <!-- Thanks to https://codepen.io/rachelandrew/pen/BNXyQa for the css grid starter code to rework -->
    <div class="wrapperA">
      <div class="videoDisplay">
        <video-display clicked-video="[[clickedSearchResult]]"></video-display>
      </div>
      <div class="favorites">
        <p>Favorites:</p>

          <!-- FIXME: This will not register with the observer in favorites manager -->
          <favorites-manager new-favorite=[[addFavorite]]></favorites-manager>

      </div>
    </div>

    <div class="wrapperB">
      <div class="box c">
        <video-search></video-search>
      </div>
    </div>
    <div class="wrapperB">
      <div class="box c">
        <comments-manager video-id="[[clickedId]]"></comments-manager>
      </div>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() {
        return 'my-view3';
      }

      static get properties() {
        return {
          addFavorite: {
            type: Object,
            value: null
          },
          //The value put into the input text box.
          clickedSearchResult: {
            type: Object,
            value: {}
          },
          clickedId: {
            type: String,
            value: ""
          },
          searchResults: {
            type: Array,
            value: [],
          },
          videoCommentsAjaxUrl: {
            type: String,
            value: ""
          }
        }
      }

      //Appends the new favorite to the favorites box.
      connectedCallback() {
        super.connectedCallback();
        let self = this;

        //Event Listener for video clicked in video-search.html
        this.addEventListener('clickedSearchResult', function (e) {
          this.set("clickedSearchResult", e.detail.video);
          self.clickedId = e.detail.video.id;
        });


        this.addEventListener('clickFavorite', function (e) {
          this.clickedSearchResult = e.detail.video;
          this.set("clickedSearchResult", e.detail.video);
        });

        //event listener for the favorite button in video-display.html, appends the current displayed video and its stats into the favoriteVideos array
        this.addEventListener('clickedFavoriteButton', function (e) {
          this.addFavorite = e.detail.video;
          console.log("myview3", this.addFavorite);
          
        });

        //listens for CustomEvent in favorites display that sends the id of the video to be removed
        this.addEventListener('removeFavorite', function (e) {
          this.delete(event.detail.videoId);
        });
      }

      disconnectedCallback() {
        super.connectedCallback();
        this.removeEventListener('clickedVideo');
        this.removeEventListener('clickedFavoriteButton');
        this.removeEventListener('removeFavorite');
        this.removeEventListener('removeFavorite');
      }
    }
    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>