<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Ensure Web Animations polyfill is loaded since neon-animation 2.0 doesn't import it -->
<dom-module id="video-display">
  <template>

    <style include="shared-styles">
       :host {
        display: block;

        padding: 10px;
      }
      .stats {
        font-size: 12px;
        display: inline;
        margin-right: 20px;
      }
      .title {
        font-weight: bold;
        font-size: 16px;
      }
    </style>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/[[clickedVideo.id]]" frameborder="0" allowfullscreen></iframe>
    <div>
      <p class="stats">Likes: [[clickedVideo.likes]]</p>
      <p class="stats">Dislikes: [[clickedVideo.dislikes]]</p>
      <p class=" stats">Channel:[[clickedVideo.channelTitle]]</p>
      <p class="stats" id="viewsCounter">Views:[[clickedVideo.views]]</p>
      <br>
      <p class="stats title">[[clickedVideo.title]]</p>
      <br>
    </div>
    <button class="stats" id="favoritesButton" on-click="addVideoToFavorites">Add to Favorites </button>


  </template>

  <script>
    class VideoDisplay extends Polymer.Element {
      static get is() {
        return 'video-display';
      }
      static properties() {
        return {
          clickedVideo: {
            type: Object,
            value: null,
          }
        }
      }
      check() {

      }
      //Pushes the current video value to the favorites array then calls the renderFavorite function.
      addVideoToFavorites() {
      
      // goes to my-view3 to be propogated down where necessary
        this.dispatchEvent(new CustomEvent('clickedFavoriteButton', {
          bubbles: true,
          composed: true,
          detail: {
            video: this.clickedVideo
          }
        }));
      }
    }



    window.customElements.define(VideoDisplay.is, VideoDisplay);
  </script>
</dom-module>