<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Components for paper-dropdown menu -->
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">

<dom-module id="video-search">
    <template>
        <style include="shared-styles">
             :host {
                display: block;
                padding: 10px;
            }

            .form {
                margin: -20px, 0px, 0px, 0px;
            }

            .searchResults {
                height: 200px;
                width: 100%;
                border: solid black 2px;
                background-color: white;
                color: black;
                overflow-x: auto;
            }

            .title {
                margin-left: 20px;
                font-size: 18px;
                width: 400px;
            }

            .description {
                margin-left: 35px;
                font-size: 12px;
            }
            p {
                color: black;
            }
            .filter {
                color: #C06C84;
            }
        </style>

        <form class="form">
            <p>Search:</p>
            <input id="searchBox" value="{{keyword::input}}" type="text">
            <button id="searchSubmit" type="submit" on-click="getVideos">Search</button>
        </form>

        <!-- Checks to see if there are results available to display. -->
        <template is="dom-if" if="[[hasResults]]">
            <div class="searchResults">
                <!-- "dom-repeat" iterates through searchResults and displays the title and description for each -->
                <template is="dom-repeat" items="[[searchResults]]">
                    <div>
                        <a class="title" on-click="selectVideo">[[item.title]]</a>
                        <p class="description">[[item.description]]</p>
                    </div>
                </template>
            </div>
        </template>
        <!-- Dropdown menu that gets the search results by date, 
            rating (likes divided by dislikes), and relevance it 
            does this by sending a new ajax request with the same 
            keyword parameter but with a different "order" 
            parameter in the URL -->
        <paper-dropdown-menu class="filter" label="Sort By:">
            <paper-listbox class="filter" slot="dropdown-content">
                <paper-item id="filter-date" on-click="filterVideos">Date</paper-item>
                <paper-item id="filter-rating" on-click="filterVideos">Rating</paper-item>
                <paper-item id="filter-relevance" on-click="filterVideos">Relevance</paper-item>
            </paper-listbox>
        </paper-dropdown-menu>
        </div>

        <!-- Ajax request to keyword search. Returns an object with video data. -->
        <iron-ajax id="ajax" url="[[keywordAjaxUrl]]" handle-as="json" on-response="_handleResponse" debounce-duration="300"></iron-ajax>

        <!-- Ajax request to get the likes, dislikes, and views of the keyword search videos. The data gets mashed together in _handleStatsResponse-->
        <iron-ajax id="statsRequest" url="[[videoStatsAjaxUrl]]" handle-as="json" on-response="_handleStatsResponse" debounce-duration="300"></iron-ajax>
    </template>

    <script>
        class VideoSearch extends Polymer.Element {
            static get is() {
                return "video-search";
            }
            static get properties() {
                return {
                    // Makes sure there are results to display. Checked by the dom-if template above
                    hasResults: {
                        type: Boolean,
                        value: false
                    },
                    // Gets input from the search box, used by getVideos() to put together the keywordAJAXURL
                    keyword: {
                        type: String,
                        value: "",
                    },
                    //Holds the search results that are data bound to the rendering elements in the shadow DOM
                    searchResults: {
                        type: Array,
                        value: [],
                    },
                    // URL compiled in getVideos() and data bound to iron-ajax
                    keywordAjaxUrl: {
                        type: String,
                        value: ""
                    },
                    // Counter for the function loop between getStats() and handleStatsResponse(). iron Ajax gets weird if you set it to auto and send multiple requests through it, this bypasses that problem.
                    statsResultsCounter: {
                        type: Number,
                        value: 0
                    },
                    // Temporary storage for search results until search results and video stats response are both merged into searchResults
                    temporarySearchResults: {
                        type: Array,
                        value: [],
                    },
                    // Temporary storage for stats until they are folded into searchResults
                    statsResults: {
                        type: Array,
                        value: []
                    },
                    // gets the data of the search result that the user selects and sends it into the main page and then into video-display.html to be displayed.
                    clickedVideo: {
                        type: Object,
                        value: null,
                    }

                }
            }
            filterVideos() {
                switch (event.target.id) {
                    case 'filter-date':
                        this.searchResults = [];
                        this.hasResults = false

                        //URL for ajax keyword search returned in order by date (&order=date). Takes input from the current keyword property.
                        let dateURL = 'https://www.googleapis.com/youtube/v3/search?q=' + this.keyword +
                            '&part=snippet&order=date&maxResults=20&type=video&key=AIzaSyAXm-c_JMbAF9SV52gFpTIWCqUG825BTno'

                        //sends formatted URL to the searchURL object which is databound to the iron ajax that makes keyword requests
                        this.set("keywordAjaxUrl", dateURL);

                        // Gets the iron-ajax to request
                        this.$.ajax.generateRequest();
                        break;
                    case 'filter-relevance':
                        this.searchResults = [];
                        this.hasResults = false

                        //URL for ajax keyword search returned in order by date (the default setting for a youtube keyword search). Takes input from the current keyword property.
                        let relevanceURL = 'https://www.googleapis.com/youtube/v3/search?q=' + this.keyword +
                            '&part=snippet&maxResults=20&type=video&key=AIzaSyAXm-c_JMbAF9SV52gFpTIWCqUG825BTno'

                        //sends formatted URL to the searchURL object which is databound to the iron ajax that makes keyword requests
                        this.set("keywordAjaxUrl", relevanceURL);

                        // Gets the iron-ajax to request
                        this.$.ajax.generateRequest();
                        break;
                    case 'filter-rating':
                        this.searchResults = [];
                        this.hasResults = false

                       //URL for ajax keyword search returned in order by date (&order=rating). Takes input from the current keyword property.
                        let ratingURL = 'https://www.googleapis.com/youtube/v3/search?q=' + this.keyword +
                            '&part=snippet&order=rating&maxResults=20&type=video&key=AIzaSyAXm-c_JMbAF9SV52gFpTIWCqUG825BTno'

                        //sends formatted URL to the searchURL object which is databound to the iron ajax that makes keyword requests
                        this.set("keywordAjaxUrl", ratingURL);

                        // Gets the iron-ajax to request
                        this.$.ajax.generateRequest();
                        break;
                }
            }

            //normal search by relevance when you click the submit button in the search form.
            getVideos(e) {

                //keeps page from reloading when user clicks the submit button
                e.preventDefault();
                this.searchResults = [];
                this.hasResults = false

                //URL for ajax keyword search. Takes input from search box.
                let searchURL = 'https://www.googleapis.com/youtube/v3/search?q=' + this.keyword +
                    '&part=snippet&maxResults=20&type=video&key=AIzaSyAXm-c_JMbAF9SV52gFpTIWCqUG825BTno'

                //sends formatted URL to the searchURL object which is databound to the iron ajax that makes keyword requests
                this.set("keywordAjaxUrl", searchURL);

                // Gets the iron-ajax to request
                this.$.ajax.generateRequest();
            }

            //response function from the keyword AJAX request in iron-ajax
            _handleResponse(event) {

                //Array of videos
                let response = event.detail.response;
                
                //Resets the value of temporarySearchResults property
                this.temporarySearchResults = [];

                //loads the videos into the temporarySearchResults property
                for (let i = 0; i < response.items.length; i++) {
                    let element = response.items[i];
                    this.temporarySearchResults.splice(0, 0, element);
                }
                this._getStats();
            }

            //Builds URL to send to the stats ajax iron-ajax element
            _getStats() {

                //this resets the counter to mimick a for loop to handle the responses to these looped requests in _handleStatsResponse()
                this.statsResultsCounter = 0;
                for (let i = 0; i < this.temporarySearchResults.length; i++) {
                    this.videoStatsAjaxUrl = "https://www.googleapis.com/youtube/v3/videos?id=" +
                        this.temporarySearchResults[i].id.videoId +
                        "&part=statistics,contentDetails&key=AIzaSyAXm-c_JMbAF9SV52gFpTIWCqUG825BTno";
                        
                    //Triggers the iron-ajax which is not set to auto. Iron-ajax does not like multiple requests at once when set to auto.
                    this.$.statsRequest.generateRequest();
                }
            }
            _handleStatsResponse(event) {

                /* iron-ajax doesn't like multiple requests at the same time 
                in a for loop. So in _getStats() there were multiple requests 
                sent via a for loop, this is the response function from that 
                ajax request. It splices each result into the statsResults 
                property.*/

                //handles the first few requests and iterates the counter.
                if (this.statsResultsCounter < this.temporarySearchResults.length - 1) {

                    //is returning all of the response videos. So this function should push any response into search results.
                    this.statsResults.splice(0, 0, event.detail.response.items[0].statistics);
                    this.statsResultsCounter++;
                }

                //On the final request,function is triggered that renders the results.
                if (this.statsResultsCounter === this.temporarySearchResults.length - 1) {
                    this.statsResults.splice(0, 0, event.detail.response.items[0].statistics);
                    this.statsResultsCounter++;
                    this.compileResults();
                }

            }

            // Merges temporarySearchResults and statsResults into the searchResults Property
            compileResults() {
                let tempResults = [];
                for (let i = 0; i < this.temporarySearchResults.length; i++) {
                    let el = this.temporarySearchResults[i];
                    let stat = this.statsResults[i];
                    let searchResult = {
                        id: el.id.videoId,
                        title: el.snippet.title,
                        description: el.snippet.description,
                        channelTitle: el.snippet.channelTitle,
                        channelId: el.snippet.channelId,
                        publishDate: el.snippet.publishedAt,
                        likes: stat.likeCount,
                        dislikes: stat.dislikeCount,
                        views: stat.viewCount,
                        rating: stat.likeCount / stat.dislikeCount
                    }

                    // this.searchResults.splice(0, 0, searchResult);
                    tempResults.push(searchResult);
                    this.set('searchResults', tempResults);
                    this.searchResults.reverse();
                }
                if (this.searchResults[0]) {
                    this.hasResults = true;
                }
            }

            //Sends clicked result to my-view3 to be displayed in video-display.tml
            selectVideo(event) {
                
                /*For loop compares the text of the clicked event to 
                the items in the searchResults array. The matching 
                result gets sent to the clickedvideo object.*/
                for (let i = 0; i < this.searchResults.length; i++) {
                    const el = this.searchResults[i].title;
                    if (el == event.target.text) {
                        let videoToSend = this.searchResults[i];
                        this.set("clickedVideo", videoToSend);
                    }
                }

                this.dispatchEvent(new CustomEvent('clickedSearchResult', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        video: this.clickedVideo
                    }
                }));
            }
        };
        window.customElements.define(VideoSearch.is, VideoSearch);
    </script>
</dom-module>